﻿@model double?

@{
    RouteValueDictionary htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);

    if (htmlAttributes == null)
    {
        htmlAttributes = new RouteValueDictionary();
    }
    if (htmlAttributes.ContainsKey("class") == false)
    {
        htmlAttributes.Add("class", "form-control-static");
    }
}

@if (Model != null)
{
    <p class="@htmlAttributes["class"]">
        <b>-</b>
    </p>
}
else
{
    <p class="@htmlAttributes["class"]">
        @Html.Raw(string.Format("{0:N}", Model))
    </p>
}