﻿@model WebUI.Areas.UserManagement.Models.UserFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values[RouteValue.Controller];
    string currentAction = (string)ViewContext.RouteData.Values[RouteValue.Action];
}

@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.IsNewUser)
    @Html.HiddenFor(model => model.CurrentUserName)
    @Html.HiddenFor(model => model.CurrentEmail)


    <div class="form-group">
        @Html.LabelFor(model => model.UserName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-6">
            @if (currentAction.ToLower() == ActionSite.Create.ToLower())
            {
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            }
            else
            {
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly = "readonly" })
            }
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-6">
            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-xs-4 control-label" })
            <div class="col-xs-6">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-xs-4 control-label" })
            <div class="col-xs-6">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.FullName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-6">
            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MstOrganizationId, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-6">
            @Html.TextBoxFor(model => model.MstOrganizationId, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.MstOrganizationId, "", new { @class = "text-danger" })
        </div>
    </div>
}
