﻿@model WebUI.Areas.UserManagement.Models.AssignRevokeRolesFormStub
@{
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    ViewBag.Title = TitleSite.AssignRevokeRoles;
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.UserId)

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">Roles</label>
                    <div class="col-xs-6">
                        <div id="grid"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-4">
                        <button id="btnSave" type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@Url.Action(ActionSite.Index)" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var grid = $().data("kendoGrid");
        var models = [];

        $(function () {
            initGrid();
            onFormSubmit();
        });

        function detailInit(e) {
            var dataSource = new kendo.data.TreeListDataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingMstOrganizationInUsersInRoles)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            var i = "";

                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];
                                    
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];

                                }
                            }

                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    model: {
                        id: "@Field.Id",
                        parentId: "@Field.ParentId",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ParentId": { type: "@DataSource.Schema.Type.Number", nullable: true },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            "@Field.HasRelation": { type: "@DataSource.Schema.Type.Boolean" }
                        },
                        expanded: true
                    }
                },
                serverFiltering: true,
                serverSorting: true,
                filter: [
                    { field: "@Field.UserId", operator: "@FilterOperator.Equals.ToDescription()", value: $("#UserId").val() },
                    { field: "@Field.RoleId", operator: "@FilterOperator.Equals.ToDescription()", value: e.data.RoleId }
                ],
                sort: { field: "@Field.Name", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                {
                    headerTemplate: "<input type=\"checkbox\"/>",
                    template: "<input type=\"checkbox\"/>",
                    width: "75px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "@Field.Name",
                    title: "Organization",
                    width: "250px",
                }
            ];

            $("<div/>").appendTo(e.detailCell).kendoTreeList({
                dataSource: dataSource,
                columns: columns,
                filterable: false,
                sortable: true,
                dataBound: function (e) {
                    e.sender.thead.find("input[type=\"checkbox\"]").on("change", function (ev) {
                        if (this.checked) {
                            e.sender.tbody.find("input[type=\"checkbox\"]").prop("checked", true);
                        } else {
                            e.sender.tbody.find("input[type=\"checkbox\"]").prop("checked", false);
                        }
                        e.sender.trigger("change");
                    });

                    e.sender.tbody.find("tr").each(function (i, element) {
                        var hasRelation = e.sender.dataItem(element).HasRelation;
                        if (hasRelation) {
                            $(element).find("input[type=\"checkbox\"]").prop("checked", true);
                        } else {
                            $(element).find("input[type=\"checkbox\"]").prop("checked", false);
                        }
                        e.sender.trigger("change");
                    });

                    e.sender.tbody.find("input[type=\"checkbox\"]").on("change", function (ev) {
                        e.sender.trigger("change");
                    });
                },
                change: function (e) {
                    if (e.sender.tbody.find("input[type=\"checkbox\"]").length === e.sender.tbody.find("input[type=\"checkbox\"]:checked").length) {
                        e.sender.thead.find("input[type=\"checkbox\"]").prop("checked", true);
                    } else {
                        e.sender.thead.find("input[type=\"checkbox\"]").prop("checked", false);
                    }

                    grid.trigger("change");
                }
            }).data("kendoTreeList");
        }

        function initGrid(){
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingRoles)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            var i = "";

                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    model: {
                        id: "@Field.RoleId",
                        fields: {
                            "@Field.RoleId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.RoleName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.HasRelation": { type: "@DataSource.Schema.Type.Boolean" }
                        }
                    }
                },
                serverFiltering: true,
                serverSorting: true,
                sort: { field: "@Field.RoleName", dir: "@SortOrder.Ascending.ToDescription()" },
                filter: { field: "@Field.UserId", operator: "@FilterOperator.Equals.ToDescription()", value: $("#UserId").val() }
            });

            var columns = [
                {
                    selectable: true,
                    width: "32px"
                },
                {
                    field: "@Field.RoleName",
                    title: "Role Name"
                }
            ];

            grid = $("#grid").kendoGrid({
                noRecords: true,
                height: "500px",
                dataSource: ds,
                filterable: false,
                sortable: true,
                columns: columns,
                detailInit: detailInit,
                dataBound: function (e) {
                    e.sender.tbody.find("tr").each(function (i, element) {
                        var hasRelation = e.sender.dataItem(element).HasRelation;
                        if (hasRelation) {
                            e.sender.expandRow(element);
                            e.sender.select(element);
                        }
                    });
                },
                change: function (e) {
                    var invalidRows = 0;
                    e.sender.tbody.find("tr.k-master-row").each(function (i, element) {
                        if ($(element).hasClass("k-state-selected")) {
                            var treeList = $(element).next("tr.k-detail-row").find("div.k-treelist").first().data("kendoTreeList");
                            if (treeList !== undefined) {
                                var checkedRow = treeList.tbody.find("input[type=\"checkbox\"]:checked").parents("tr[role=\"row\"]");
                                if (checkedRow.length === 0) {
                                    invalidRows++;
                                }
                            } else {
                                invalidRows++;
                            }
                        } else {
                            var treeList = $(element).next("tr.k-detail-row").find("div.k-treelist").first().data("kendoTreeList");
                            if (treeList !== undefined) {
                                var checkedRow = treeList.tbody.find("input[type=\"checkbox\"]:checked").parents("tr[role=\"row\"]");
                                if (checkedRow.length > 0) {
                                    invalidRows++;
                                }
                            }
                        }
                    });

                    models = [];

                    e.sender.tbody.find("input.k-checkbox:checked").parents("tr.k-master-row").each(function (i, element) {
                        if (invalidRows === 0) {
                            var treeList = $(element).next("tr.k-detail-row").find("div.k-treelist").first().data("kendoTreeList");
                            if (treeList !== undefined) {
                                var checkedRow = treeList.tbody.find("input[type=\"checkbox\"]:checked").parents("tr[role=\"row\"]");
                                if (checkedRow.length > 0) {
                                    checkedRow.each(function (j, el) {
                                        models.push(
                                            { userId: $("#UserId").val(), roleId: e.sender.dataItem(element).RoleId, organizationId: treeList.dataItem(el).Id }
                                        );
                                    });
                                } else {
                                    models = [];
                                }
                            } else {
                                models = [];
                            }
                        }
                    });

                    if (invalidRows === 0) {
                        $("#btnSave").removeAttr("disabled");
                    } else {
                        $("#btnSave").attr("disabled", "disabled");
                    }
                }
            }).data("kendoGrid");
        }

        function onFormSubmit() {
            $("form.form-horizontal").submit(function (e) {
                grid.trigger("change");

                $.each(models, function (i, model) {
                    $(kendo.format("<input name=\"UIRFormStubs[{0}].{1}\" value=\"{2}\" type=\"hidden\" />", i, "@Field.UserId", model.userId)).appendTo($("form.form-horizontal"));
                    $(kendo.format("<input name=\"UIRFormStubs[{0}].{1}\" value=\"{2}\" type=\"hidden\" />", i, "@Field.RoleId", model.roleId)).appendTo($("form.form-horizontal"));
                    $(kendo.format("<input name=\"UIRFormStubs[{0}].{1}\" value=\"{2}\" type=\"hidden\" />", i, "@Field.MstOrganizationId", model.organizationId)).appendTo($("form.form-horizontal"));
                });
            });
        }

    </script>
}