@model WebUI.Areas.UserManagement.Models.UserFormStub
@{
    ViewBag.Title = TitleSite.User;
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    var thisController = (WebUI.Areas.UserManagement.Controllers.UserController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    <div class="row m-b-md">
        @Html.Raw(thisController.GetMessage())
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", id = "formUser" }))
            {
                @Html.HiddenFor(model => model.Email)
                <div class="form-group">
                    <label class="control-label col-xs-1">Users </label>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control always-validate" })
                        <p>
                            @Html.ValidationMessageFor(model => model.UserName)
                        </p>
                        <p>
                            <em class="text-muted">* Penambahan user</em>
                        </p>
                    </div>
                    <div class="col-xs-2 m-l-xs">
                        <button id="btnAdd" type="submit" class="btn btn-primary">Add User</button>
                    </div>
                </div>
            }
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<!-- Modal Form -->
<div id="modalForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 300px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
                <button id="btnSave" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@*<!-- Modal Role -->
<div id="modalRole" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Assign Roles</h4>
            </div>
            <div class="modal-body" style="min-height: 300px;"></div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>*@

@section scripts
{
    <script type="text/javascript">

        var adUsersOptions = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            showModal(
                "Edit User",
                kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id)
            );
        }

        @*function assignRole(e) {
            e.preventDefault();

            var data = this.dataItem(getDataRowGrid(e)),
                url = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.AssignRoles)", data.id);

            var $modal = $("#modalRole").clone(),
                $modalBody = $modal.find(".modal-body"),
                $btnClose = $modal.find("#btnClose");

            //show loading progress
            kendo.ui.progress($modalBody, true);

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var userId = $modal.find("#UserId").val();
                    var filter = {
                        logic: "@FilterLogic.And.ToDescription()",
                        filters: []
                    };

                    var optional = $modalBody.find("#optional").kendoListBox({
                        dataSource: generateRoleDataSource(false),
                        autoBind: false,
                        dataTextField: "@Field.RoleName",
                        dataValueField: "@Field.RoleId",
                        selectable: "multiple",
                        connectWith: "selected",
                        toolbar: {
                            position: "right",
                            tools: ["transferTo", "transferFrom"]
                        }
                    }).data("kendoListBox");

                    var selected = $modalBody.find("#selected").kendoListBox({
                        dataSource: generateRoleDataSource(true),
                        autoBind: false,
                        dataTextField: "@Field.RoleName",
                        dataValueField: "@Field.RoleId",
                        selectable: "multiple",
                        add: selectedOnAdd,
                        remove: selectedOnRemove
                    }).data("kendoListBox");

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    filter.filters = [
                        {
                            field: "@Field.UserId",
                            operator: "@FilterOperator.NotEquals",
                            value: userId
                        }
                    ];
                    optional.dataSource.filter(filter);

                    filter.filters = [
                        {
                            field: "@Field.UserId",
                            operator: "@FilterOperator.Equals",
                            value: userId
                        }
                    ];
                    selected.dataSource.filter(filter);
                });

                //set btn close click event
                $btnClose.on("click", function (e) {
                    $modal.modal("hide");
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                setTimeout(function () {
                    e.target.remove();
                }, 1000);
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }*@

        function assignRevokeRole(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?userName={1}", "@Url.Action(ActionSite.AssignRevokeRoles)", data.id);
        }

        /**
         * Generate modal form
        */
        function showModal(title, url) {
            var $modal = $("#modalForm").clone(),
                $modalBody = $modal.find(".modal-body"),
                $btnCancel = $modal.find("#btnCancel"),
                $btnSave = $modal.find("#btnSave");

            $modal.find(".modal-title").text(title);

            //show loading progress
            kendo.ui.progress($modalBody, true);

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var $form = $modalBody.find(".form-horizontal");

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    //set asterisk sign
                    requiredSign();

                    //set validator
                    $.validator.unobtrusive.parse($form);

                    $form.find("input").on("keyup blur", function (e) {
                        if ($form.valid()) {
                            $btnSave.prop("disabled", false);
                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }
                    });

                    dropdownListGenerator($("#@Field.MstOrganizationId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.ORGANIZATION", "@Field.Name", "@Component.OptionLabel", true, null);

                    //set submit event
                    $form.submit(function (e) {
                        e.preventDefault();

                        if (!($form.find("input").hasClass("input-validation-error"))) {
                            kendo.ui.progress($modalBody, true);

                            $.ajax({
                                type: $(this).attr("method"),
                                url: $(this).attr("action"),
                                data: $(this).serialize(),
                                success: function (data) {
                                    if (data.Success) {
                                        var dataSource = $("#grid").data("kendoGrid").dataSource;

                                        swal("Success", data.Message, "success");
                                        $modal.modal("hide");
                                        dataSource.read();
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    swal("Error", "Server Error. Contact administrator", "error");
                                }
                            });
                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }

                        return false;
                    });

                    //set btn save click event
                    $btnSave.on("click", function (e) {
                        $form.submit();
                    });

                    if ($("#UserName").attr("readonly") === "readonly") {
                        $("#UserName").focus(function (e) {
                            $(this).blur();
                        });
                    }
                });

                //set btn cancel click event
                $btnCancel.on("click", function (e) {
                    $modal.modal("hide");
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                setTimeout(function () {
                    e.target.remove();
                }, 1000);
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }

        function initElement() {
            adUsersOptions = dropdownListGenerator($("#@Field.UserName"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AD_USERS", "@Field.UserName", "@Component.OptionLabel", true);
            adUsersOptions.bind("change", function (e) {
                if (e.sender.value() === "") {
                    $("#btnAdd").attr("disabled", "disabled");
                } else {
                    $("#btnAdd").removeAttr("disabled");
                }
            });
            adUsersOptions.trigger("change");

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {

                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Email") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.Membership, Field.Email)"
                                    }

                                    if (filter.field === "@Field.MstOrganizationName") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.Membership, Field.MstOrganizationId)";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Email") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Membership, Field.Email)"
                                    }

                                    if (sort.field === "@Field.CreateDate") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Membership, Field.CreateDate)"
                                    }

                                    if (sort.field === "@Field.LastLoginDate") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Membership, Field.LastLoginDate)"
                                    }
                                }
                            }

                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.UserName",
                        fields: {
                            "@Field.UserName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Email": { type: "@DataSource.Schema.Type.String" },
                            "@Field.MstOrganizationId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.MstOrganizationName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.CreateDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.LastLoginDate": { type: "@DataSource.Schema.Type.Date" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sort: { field: "@Field.UserName", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "role",
                            text: "@Component.Grid.Command.Role",
                            click: assignRevokeRole,
                            imageClass: "fa fa-lg fa-user-plus",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "110px",
                    attributes: { "class": "command" }
                },
                {
                    field: "@Field.UserName",
                    title: "User ID",
                    width: "200px",
                },
                {
                    field: "@Field.Email",
                    title: "Email",
                    width: "100%",
                    template: "<a class=\"btn-link\" href=\"mailto: #=@Field.Email#\">#=@Field.Email#</a>"
                },
                {
                    field: "@Field.MstOrganizationName",
                    title: "Organization",
                    width: "200px",
                    filterable: dropDownListFilterable(organizationFilterable)
                },
                {
                    field: "@Field.CreateDate",
                    title: "Created Time",
                    width: "170px",
                    format: "@DisplayFormat.JsCompactDateTimeFormat",
                },
                {
                    field: "@Field.LastLoginDate",
                    title: "Last Login Time",
                    width: "170px",
                    format: "@DisplayFormat.JsCompactDateTimeFormat",
                }
            ];

            $("#grid").kendoGrid({
                dataSource: dataSource,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                columns: columns
            });

            $("#formUser").submit(function (e) {
                $("#@Field.Email").val(adUsersOptions.value());
                $("#@Field.UserName").val(adUsersOptions.text());
            });
        }

        @*function generateRoleDataSource(isSelected) {
            var $optional = $("#optional"),
                $selected = $("#selected");

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingRoles)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    model: {
                        id: "@Field.RoleId",
                        fields: {
                            "@Field.RoleId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.RoleName": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverFiltering: true,
                serverSorting: true,
                sort: { field: "@Field.RoleName", dir: "@SortOrder.Ascending.ToDescription()" },
                requestStart: function (e) {
                    if (!isSelected) {
                        kendo.ui.progress($optional.parent(), true);
                    } else {
                        kendo.ui.progress($selected.parent(), true);
                    }
                },
                requestEnd: function (e) {
                    if (!isSelected) {
                        kendo.ui.progress($optional.parent(), false);
                    } else {
                        kendo.ui.progress($selected.parent(), false);
                    }
                }
            });

            return dataSource;
        }

        function selectedOnAdd(e) {
            var data = {
                UserId: $("#UserId").val(),
                Roles: []
            };

            for (var i = 0; i < e.dataItems.length; i++) {
                var dataItem = e.dataItems[i];

                data.Roles.push(dataItem);
            }

            $.ajax({
                type: "@DataSource.Type.Post",
                contentType: "@DataSource.ContentType.ApplicationJson",
                url: "@Url.Action(ActionSite.AssignRoles)",
                data: JSON.stringify(data),
                success: function (data) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Server Error. Call administrator");
                }
            });
        }

        function selectedOnRemove(e) {
            var data = {
                UserId: $("#UserId").val(),
                Roles: []
            };

            for (var i = 0; i < e.dataItems.length; i++) {
                var dataItem = e.dataItems[i];

                data.Roles.push(dataItem);
            }

            $.ajax({
                type: "@DataSource.Type.Post",
                contentType: "@DataSource.ContentType.ApplicationJson",
                url: "@Url.Action(ActionSite.RevokeRoles)",
                data: JSON.stringify(data),
                success: function (data) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Server Error. Call administrator");
                }
            });
        }*@

        function organizationFilterable(element) {
            dropdownListGenerator(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.ORGANIZATION", "@Field.Name", "@Component.OptionLabel", true, null)
        }

    </script>
}
