﻿@{
    var absoluteUri = HttpContext.Current.Request.Url.AbsoluteUri;
    var absolutePath = HttpContext.Current.Request.Url.AbsolutePath;
    var aplicationPath = HttpContext.Current.Request.ApplicationPath;
    var queryPath = HttpContext.Current.Request.Url.PathAndQuery;
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
    Request.ApplicationPath.TrimEnd('/') + "/";

    string host = Request.Url.Host;

    Uri uri = new Uri(absoluteUri);
    string hostUri = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port;
    string removeQuery = uri.GetLeftPart(UriPartial.Path);


    string currentController = (string)ViewContext.RouteData.Values[RouteValue.Controller];
    string currentAction = (string)ViewContext.RouteData.Values[RouteValue.Action];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <link href="~/fav.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/inspinia/css")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/sweet-alert/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        @Html.Partial("Inspinia/_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @{Html.RenderPartial("Inspinia/_TopNavbar"); }

            <!-- Breadcrumb-->
            @{Html.RenderPartial("Inspinia/_Breadcrumb"); }

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @{Html.RenderPartial("Inspinia/_Footer"); }

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    @Html.Partial("_GlobalObjectJs")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/sweet-alert")
    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/slimScroll")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/inspinia")

    @Scripts.Render("~/bundles/webapp")

    @RenderSection("scripts", required: false)
</body>
</html>
