﻿@{
	string urlPathIR = System.Configuration.ConfigurationManager.AppSettings["UrlPathIR"];
	string urlPathNormalization = System.Configuration.ConfigurationManager.AppSettings["UrlPathNormalization"];
}

<nav class="navbar-default navbar-static-side" role="navigation" id="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@(User != null ? User.UserName : string.Empty)</strong>
                            </span>
                            @*<span class="text-muted text-xs block">Example menu <b class="caret"></b></span>*@
                        </span>
                    </a>
                    @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="#">Logout</a></li>
                </ul>*@
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li>
				<a href="#"><i class="glyphicon glyphicon-folder-close"></i> <span class="nav-label" data-i18n="nav.master">Modules</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li class=""><a target="_blank" href="@urlPathIR"><span class="nav-label">IR</span> </a></li>
					<li class=""><a target="_blank" href="@urlPathNormalization"><span class="nav-label">Normalization</span> </a></li>
				</ul>
			</li>

			<li class="@Html.IsSelected(action: "ViewResponsibilities")">
				<a href="@Url.Action("ViewResponsibilities", ControllerSite.Mockup, new { area = "" })"><i class="fa fa-lg fa-fw fa-check"></i> <span class="nav-label">My Responsibilities</span></a>
			</li>

			<li>
				<a href="#"><i class="fa fa-database"></i> <span class="nav-label">Data Master</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="">
                        <a href="#">Hierarchy<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Region, new { area = AreaSite.DataMaster })">Region</a></li>
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Site, new { area = AreaSite.DataMaster })">Site</a></li>
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Location, new { area = AreaSite.DataMaster })">Location</a></li>
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Organization, new { area = AreaSite.DataMaster })">Organization</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">Company<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.CompanyType, new { area = AreaSite.DataMaster })">Type</a></li>
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Company, new { area = AreaSite.DataMaster })">Company</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">Vehicle<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.VehicleType, new { area = AreaSite.DataMaster })">Type</a></li>
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.VehicleBrand, new { area = AreaSite.DataMaster })">Brand</a></li>
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.VehicleOwnership, new { area = AreaSite.DataMaster })">Ownership</a></li>
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Vehicle, new { area = AreaSite.DataMaster })">Vehicle</a></li>
                        </ul>
                    </li>
                </ul>
			</li>

            @if (User.HasAccess(UserModule.UserManagement))
            {
                <li class="@Html.IsSelected(area: AreaSite.UserManagement)">
                    <a href="@Url.Action(ActionSite.Index, ControllerSite.Dashboard, new { area = AreaSite.UserManagement })"><i class="fa fa-lg fa-fw fa-users"></i> <span class="nav-label">User Management</span></a>
                </li>
            }
            
            @*@if (User.HasAccess(UserModule.DataMaster))
            {
            <li class="@Html.IsSelected(area: "Admin")">
                <a href="#"><i class="glyphicon glyphicon-pencil"></i> <span class="nav-label" data-i18n="nav.master">Data Master</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(controller: "Company")"><a href="@Url.Action("Index", "Company", new { Area = "Admin" })"><span class="nav-label">Company</span> </a></li>
                    <li class="@Html.IsSelected(controller: "Assessment")"><a href="@Url.Action("Index", "Assessment", new { Area = "Admin" })"><span class="nav-label">Assessment</span> </a></li>
                    <li class="@Html.IsSelected(controller: "Setting", action: "Questionnaire")"><a href="@Url.Action("Questionnaire", "Setting", new { Area = "Admin" })"><span class="nav-label">Setting Kuesioner</span> </a></li>
                    <li class="@Html.IsSelected(controller: "Setting", action: "Prestest")"><a href="@Url.Action("Prestest", "Setting", new { Area = "Admin" })"><span class="nav-label">Setting Pretest</span> </a></li>
                </ul>
            </li>
            }*@ 
        </ul>
    </div>
</nav>
