﻿@model WebUI.Areas.UserManagement.Models.AssignRevokeModulesFormStub
@{
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    ViewBag.Title = TitleSite.AssignRevokeModules;
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.RoleId)
                @Html.HiddenFor(model => model.ApplicationId)

                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicationName, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.ApplicationName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleName, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">Modules</label>
                    <div class="col-xs-6">
                        <div id="grid"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-4">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@Url.Action(ActionSite.Index)" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">

        var grid = $().data("kendoGrid");

        $(function () {
            initGrid();
            onFormSubmit();
        });

        function detailInit(e) {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingActionsInModules)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            var i = "";

                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    model: {
                        id: "@Field.ActionId",
                        fields: {
                            "@Field.ActionId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ActionName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.IsChoosen": { type: "@DataSource.Schema.Type.Boolean" }
                        }
                    }
                },
                serverFiltering: true,
                serverSorting: true,
                sort: { field: "@Field.ActionName", dir: "@SortOrder.Ascending.ToDescription()" },
                filter: {
                    "logic": "@FilterLogic.And.ToDescription()",
                    "filters": [
                        { field: "@Field.ModuleId", operator: "@FilterOperator.Equals.ToDescription()", value: e.data.ModuleId },
                        { field: "@Field.RoleId", operator: "@FilterOperator.Equals.ToDescription()", value: $("#RoleId").val() }
                    ]
                }
            });

            var columns = [
                {
                    selectable: true,
                    width: "32px"
                },
                {
                    field: "@Field.ActionName",
                    title: "Action Name"
                }
            ];

            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: ds,
                sortable: true,
                columns: columns,
                noRecords: true,
                filterable: kendoGridFilterable,
                dataBound: function (e) {
                    if (e.sender.element.parents("tr.k-detail-row").prev("tr.k-master-row").find("input.k-checkbox:checked").length > 0) {
                        //e.sender.thead.find("input.k-checkbox").prop("checked", true);
                        var isInRole = grid.dataItem(e.sender.element.parents("tr.k-detail-row").prev("tr.k-master-row").first()).IsInRole;
                        if (isInRole) {
                            e.sender.tbody.find("tr").each(function (i, element) {
                                var isChoosen = e.sender.dataItem(element).IsChoosen;
                                if (isChoosen) {
                                    e.sender.select(element);
                                }
                            });
                        } else {
                            e.sender.tbody.find("tr").each(function (i, element) {
                                var isChoosen = e.sender.dataItem(element).IsChoosen;
                                e.sender.select(element);
                            });
                        }
                    }
                },
                change: function (e) {
                    if (e.sender.tbody.find("tr.k-state-selected").length > 0) {
                        if (e.sender.element.parents("tr.k-detail-row").prev("tr.k-master-row").find("input.k-checkbox").not(":checked")) {
                            e.sender.element.parents("tr.k-detail-row").prev("tr.k-master-row").each(function (i, el) {
                                grid.select(el);
                            });
                        }

                        var action = e.sender.dataItem(e.sender.tbody.find("tr.k-state-selected"));
                        if (action.ActionName === "@ActionType.MANAGE.ToDescription()") {
                            e.sender.tbody.find("tr.k-alt").not("tr.k-state-selected").each(function (i, el) {
                                e.sender.select(el);
                            });
                        }
                    } else {
                        e.sender.element.parents("tr.k-detail-row").prev("tr.k-master-row").each(function (i, el) {
                            if ($(el).hasClass("k-state-selected")) {
                                $(el).removeClass("k-state-selected");
                                $(el).find("input.k-checkbox").prop("checked", false);
                            }
                        });
                    }
                }
            });
        }

        function initGrid(){
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingModules)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            var i = "";

                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    model: {
                        id: "@Field.ModuleId",
                        fields: {
                            "@Field.ModuleId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ModuleName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.IsInRole": { type: "@DataSource.Schema.Type.Boolean" }
                        }
                    }
                },
                serverFiltering: true,
                serverSorting: true,
                sort: { field: "@Field.ModuleName", dir: "@SortOrder.Ascending.ToDescription()" },
                filter: {
                    "logic": "@FilterLogic.And.ToDescription()",
                    "filters": [
                        { field: "@Field.ApplicationId", operator: "@FilterOperator.Equals.ToDescription()", value: $("#ApplicationId").val() },
                        { field: "@Field.RoleId", operator: "@FilterOperator.Equals.ToDescription()", value: $("#RoleId").val() }
                    ]
                }
            });

            var columns = [
                {
                    selectable: true,
                    width: "32px"
                },
                {
                    field: "@Field.ModuleName",
                    title: "Module Name"
                }
            ];

            grid = $("#grid").kendoGrid({
                noRecords: true,
                dataSource: ds,
                filterable: kendoGridFilterable,
                sortable: true,
                columns: columns,
                detailInit: detailInit,
                dataBound: function (e) {
                    e.sender.tbody.find("tr").each(function (i, element) {
                        var isInRole = e.sender.dataItem(element).IsInRole;
                        if (isInRole) {
                            e.sender.select(element);
                        }

                    });
                },
                change: function (e) {
                    e.sender.tbody.find("input.k-checkbox").not(":checked").parents("tr.k-master-row").each(function (i, element) {
                        var detailGrid = $(element).next("tr.k-detail-row").find("div.k-grid[data-role=\"grid\"]").data("kendoGrid");
                        if (detailGrid !== undefined) {
                            detailGrid.clearSelection();
                        }
                        e.sender.collapseRow($(element));
                    });

                    e.sender.tbody.find("input.k-checkbox:checked").parents("tr.k-master-row").each(function (i, element) {
                        e.sender.expandRow($(element));

                        var detailGrid = $(element).next("tr.k-detail-row").find("div.k-grid[data-role=\"grid\"]").data("kendoGrid");
                        if (detailGrid.tbody.find("tr").length > 0) {
                            if (detailGrid.tbody.find("tr.k-state-selected").length === 0) {
                                //detailGrid.thead.find("input.k-checkbox").prop("checked", true);
                                detailGrid.tbody.find("tr").each(function (i, el) {
                                    detailGrid.select(el);
                                });
                            }
                        }
                    });
                }
            }).data("kendoGrid");
        }

        function onFormSubmit() {
            $("form.form-horizontal").submit(function (e) {
                grid.tbody.find("tr.k-master-row.k-state-selected").each(function (i, element) {
                    $(kendo.format("<input name=\"MIRFormStubs[{0}].{1}\" value=\"{2}\" type=\"hidden\" />", i, "@Field.Id", "@Guid.NewGuid()")).appendTo($("form.form-horizontal"));
                    $(kendo.format("<input name=\"MIRFormStubs[{0}].{1}\" value=\"{2}\" type=\"hidden\" />", i, "@Field.RoleId", $("#@Field.RoleId").val())).appendTo($("form.form-horizontal"));
                    $(kendo.format("<input name=\"MIRFormStubs[{0}].{1}\" value=\"{2}\" type=\"hidden\" />", i, "@Field.ModuleId", grid.dataItem(element).ModuleId)).appendTo($("form.form-horizontal"));

                    var detailGrid = $(element).next("tr.k-detail-row").find("div.k-grid[data-role=\"grid\"]").data("kendoGrid");
                    detailGrid.tbody.find("tr.k-state-selected").each(function (j, el) {
                        $(kendo.format("<input name=\"MIRFormStubs[{0}].ActionIds[{1}]\" value=\"{2}\" type=\"hidden\" />", i, j, detailGrid.dataItem(el).ActionId)).appendTo($("form.form-horizontal"));
                    });
                });
            });
        }

</script>
}