﻿@model WebUI.Areas.UserManagement.Models.RoleFormStub
@{
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = TitleSite.Create + " " + TitleSite.Role;
    }
    else
    {
        ViewBag.Title = ViewBag.Breadcrumb + " " + TitleSite.Edit;
    }
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.RoleId)
                @Html.HiddenFor(model => model.CurrentRoleName)

                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicationId, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">

                        @if (currentAction.ToLower() == ActionSite.Edit.ToLower())
                        {
                            @Html.TextBoxFor(model => model.ApplicationId, new { @class = "form-control always-validate", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.ApplicationId, new { @class = "form-control always-validate" })
                        }
                        @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleName, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-6">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-4">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@Url.Action(ActionSite.Index)" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var applicationId = $().data("kendoDropDownList");

        $(function () {
            applicationId = dropdownListGenerator(
                $("#ApplicationId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.APPLICATION",
                "@Field.ApplicationName",
                "@Component.OptionLabel",
                true,
                null
            );

            applicationId.bind("change", function (e) {
                validateForm();
            });
        });

    </script>
}