@{
    ViewBag.Title = TitleSite.Role;
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    var thisController = (WebUI.Areas.UserManagement.Controllers.RoleController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    <div class="row m-b-md">
        @Html.Raw(thisController.GetMessage())
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <a href="@Url.Action(ActionSite.Create)" class="btn btn-primary">Create Role</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">

        var grid = $().data("kendoGrid");

        $(function () {
            initGrid();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function assignRevokeModules(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.AssignRevokeModules)", data.id);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function gridOnDataBound(e) {
            grid.tbody.find("tr[role=\"row\"]").each(function (i) {
                var model = grid.dataItem(this);

                if (model.HasRelation) {
                    $(this).find(".k-grid-delete")
                        .removeClass("k-grid-delete")
                        .children().eq(0)
                        .addClass("k-state-disabled")
                        .attr("title", "Data tidak dapat dihapus.\nKarena sudah digunakan oleh data lainnya.");
                }
            });

            dataBoundTooltip(e);
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            var i = "";

                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.ApplicationName") {
                                        filter.field = "@Field.ApplicationId";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.ApplicationName") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Application, Field.ApplicationName)";
                                    }
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.RoleId",
                        fields: {
                            "@Field.ApplicationId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ApplicationName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.RoleId": { type: "@DataSource.Schema.Type.String" },
							"@Field.RoleName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.HasRelation": { type: "@DataSource.Schema.Type.Boolean" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.RoleName", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "module",
                            text: "@Component.Grid.Command.Modules",
                            click: assignRevokeModules,
                            imageClass: "fa fa-lg fa-plus-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "120px",
                    attributes: { "class": "command" }
                },
                {
                    field: "@Field.ApplicationName",
                    title: "Application Name",
                    filterable: dropDownListFilterable(applicationIdFilter)
                },
                {
                    field: "@Field.RoleName",
                    title: "Role"
                },
                {
                    field: "@Field.Description",
                    title: "Description"
                }
            ];

            grid = $("#grid").kendoGrid({
                noRecords: true,
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                columns: columns,
                dataBound: gridOnDataBound
            }).data("kendoGrid");
        }

        function applicationIdFilter(element) {
            dropdownListGenerator(
                element,
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.APPLICATION",
                "@Field.ApplicationName",
                "@Component.OptionLabel",
                false,
                null
            );
        }

    </script>

}