﻿@model WebUI.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project Template | Login</title>

    <link href="~/fav.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/inspinia/css")
    @Styles.Render("~/Content/login/css")
</head>

<body class="login-bg">
    <div class="loginscreen middle-box animated fadeInDown">
        <div class="text-center">
            <img src="~/Content/img/logo.png" width="250" />
            <h3>Welcome to Project Template</h3>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br /> Cras ut interdum dui. <br /> Etiam bibendum magna vel dapibus dapibus.
            </div>
        </div>
        @using (Html.BeginForm((string)ViewBag.FormAction, ControllerSite.Authentication, new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.DeviceId)

            <fieldset>
                <legend>Masuk Ke Dalam Aplikasi</legend>
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User ID" } })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary">Masuk</button>
                    </div>
                    @Html.EditorFor(model => model.RememberMe, new { @class = "col-xs-8 text-right", text = "Ingat saya?" })
                </div>
                <div class="forgot-password">
                    @*@Html.ActionLink("Lupa Password?", "ForgotPassword")*@
                </div>
            </fieldset>

            @Html.ValidationSummary(true)
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
</body>
</html>