﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.LocationController)ViewContext.Controller;

    ViewBag.Title = TitleSite.Location;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(thisController.GetMessage())
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 form-horizontal">
                        <label class="col-sm-3 control-label">Site</label>
                        <div class="col-sm-6">
                            <input id="siteOption" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right" style="margin-right: -12px; margin-bottom: 3px;">
                            <button id="btnCreate" class="btn btn-primary">Tambah @TitleSite.Location</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var grid = $().data("kendoGrid"),
            siteOption = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });

        function initElement() {
            siteOption = dropdownListGenerator(
                $("#siteOption"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.SITE", "@Field.Name",
                "@Component.OptionLabel", true, null
            );

            siteOption.bind("dataBound", siteOnDataBound);
            siteOption.bind("change", changeFilter);

            initGrid();

            $("#btnCreate").on("click", function () {
                if (siteOption.text() !== "@Component.OptionLabel")
                    window.location.href = kendo.format("{0}?{1}={2}", "@Url.Action(ActionSite.Create)", "@QueryStringValue.Site", siteOption.value());
            });
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                var removeFilter = null;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.SiteId" && (filter.value === "" || filter.value === null)) {
                                        removeFilter = filter;
                                    }
                                }

                                if (removeFilter !== null) {
                                    var index = options.filter.filters.indexOf(removeFilter);
                                    options.filter.filters.splice(index, 1);
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            //put data source options into session
                            if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }

                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.SiteId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                //filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa  fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa  fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "120px",
                    attributes: { "class": "command" }
                },
                {
                    title: "Location Name",
                    field: "@Field.Name",
                    width: "100%"
                }
            ];

            grid = $("#grid").kendoGrid({
                autoBind: false,
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                sortable: true,
                columns: columns
            }).data("kendoGrid");
        }

        function siteOnDataBound(e) {
            if (stateOptions !== null) {
                //set selected value dropdownlist vehicle type options
                $.each(stateOptions.Filter.filters, function (i, item) {
                    if (item.field === "@Field.SiteId") {
                        e.sender.value(item.value);
                    }
                });

                disabledButton(this.text());

                var options = grid.getOptions();

                mapDataSourceOption(stateOptions, options.dataSource);

                grid.setOptions(options);
                grid.dataSource.read();
            } else {
                disabledButton(this.text());
                setFilter(this.value());
            }
        }

        function changeFilter(e) {
            disabledButton(this.text());
            setFilter(this.value());
        }

        function setFilter(value) {
            grid = $("#grid").data("kendoGrid");

            grid.dataSource.filter({
                "field": "@Field.SiteId",
                "operator": "@FilterOperator.Equals",
                "value": value
            });
        }

        function disabledButton(text) {
            if (text === "@Component.OptionLabel") {
                $("#btnCreate").attr("data-toggle", "tooltip");
                $("#btnCreate").attr("data-placement", "top");
                $("#btnCreate").attr("data-original-title", "Site harus dipilih terlebih dahulu untuk menambahkan data baru");
                $("button[id=\"btnCreate\"][data-toggle=\"tooltip\"]").tooltip("enable");
                $("button[id=\"btnCreate\"][data-toggle=\"tooltip\"]").tooltip();
            } else {
                $("#btnCreate").removeAttr("disabled");
                $("#btnCreate").removeAttr("data-toggle");
                $("#btnCreate").removeAttr("data-placement");
                $("#btnCreate").removeAttr("data-original-title");
                $("button[id=\"btnCreate\"][data-toggle=\"tooltip\"]").tooltip("disable");
            }
        }
    </script>
}