﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.VehicleBrandController)ViewContext.Controller;

    ViewBag.Title = TitleSite.VehicleBrand;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(thisController.GetMessage())
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="text-right" style="margin-right: 5px; margin-bottom: 5px;">
                <button id="btnCreate" class="btn btn-primary">Tambah @TitleSite.VehicleBrand</button>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var grid = $().data("kendoGrid");

        $(function () {
            initElement();
        });

        function initElement() {
            initGrid();

            $("#btnCreate").on("click", function () {
                window.location.href = kendo.format("{0}", "@Url.Action(ActionSite.Create)");
            });
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                //var removeFilter = null;

                                for (var i in filters) {
                                    var filter = filters[i];


                                    @*if (filter.field === "@Field.MstCompanyTypeId" && (filter.value === "" || filter.value === null)) {
                                        removeFilter = filter;
                                    }*@
                                }

                                //if (removeFilter !== null) {
                                //    var index = options.filter.filters.indexOf(removeFilter);
                                //    options.filter.filters.splice(index, 1);
                                //}
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            //put data source options into session
                            if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }

                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            "@Field.HasRelation": { type: "@DataSource.Schema.Type.Boolean" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                //filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa  fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa  fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "120px",
                    attributes: { "class": "command" }
                },
                {
                    title: "Brand Name",
                    field: "@Field.Name",
                    width: "500px"
                }
            ];

            grid = $("#grid").kendoGrid({
                autoBind: false,
                dataSource: ds,
                dataBound: gridOnDataBound,
                filterable: kendoGridFilterable,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                sortable: true,
                columns: columns
            }).data("kendoGrid");

            //map dataSource option from session
            if (stateOptions !== null) {
                var options = grid.getOptions();

                mapDataSourceOption(stateOptions, options.dataSource);

                grid.setOptions(options);
            }

            grid.dataSource.read();
        }

        function gridOnDataBound(e) {
            grid.tbody.find("tr[role=\"row\"]").each(function (i) {
                var model = grid.dataItem(this);

                if (model.HasRelation) {
                    $(this).find(".k-grid-delete")
                        .removeClass("k-grid-delete")
                        .children().eq(0)
                        .addClass("k-state-disabled")
                        .attr("title", "Data can't be deleted.\nBecause it has been used by other data.");
                }
            });

            dataBoundTooltip(e);
        }
    </script>
}
