@model WebUI.Areas.UserManagement.Models.DashboardModel
@{
    ViewBag.Title = TitleSite.UserManagement;
}

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <h4>Manage Users and Roles</h4>
            <hr />
            <div class="row">
                <!-- Manage Users -->
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Users</h3>
                        </div>
                        <div class="panel-body">
                            <div>@Html.ActionLink("Manage Users", ActionSite.Index, ControllerSite.User)</div>
                            <div>Total Users: @Model.TotalUser</div>
                        </div>
                    </div>
                </div>
                <!-- Manage Roles -->
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Roles</h3>
                        </div>
                        <div class="panel-body">
                            <div>@Html.ActionLink("Manage Roles", ActionSite.Index, ControllerSite.Role)</div>
                            <div>Total Roles: @Model.TotalRole</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
