﻿@using Common.Enums
@using System.Reflection
@{
    ViewBag.Title = "Dummy";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];        
}
<div class="wrapper wrapper-content animated fadeInRight">
</div>

@section scripts{    
    <script>
    </script>
}