﻿@{
	ViewBag.Title = "My Responsibilities";
	string currentController = (string)ViewContext.RouteData.Values["controller"];
	string currentAction = (string)ViewContext.RouteData.Values["action"];
	string urlPathIR = System.Configuration.ConfigurationManager.AppSettings["UrlPathIR"];
	string urlPathNormalization = System.Configuration.ConfigurationManager.AppSettings["UrlPathNormalization"];
}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Responsibilities</h5>
				</div>
				<div class="ibox-content">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<td></td>
								<td>Module</td>
								<td>Type</td>
								<td>Description</td>
								<td>Status</td>
								<td>Role</td>
								<td>Next Submission</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a target="_blank" href="@(urlPathIR + "Mockup/FirstReportDataApprove")">EV-2019-01-25-0002</a></td>
								<td>IR</td>
								<td>Event</td>
								<td>Car crash in front of office tower</td>
								<td>Data Collection</td>
								<td>Supervisor</td>
								<td>Incident QA/QC</td>
							</tr>
							<tr>
								<td><a target="_blank" href="@(urlPathIR + "Mockup/EditInvestigation")">IV-2019-01-23-0005</a></td>
								<td>IR</td>
								<td>Investigation</td>
								<td>Over Head Crane stuck when was lifting material</td>
								<td>Conducting</td>
								<td>Inv. Team Leader</td>
								<td>Management Sponsor</td>
							</tr>
							<tr>
								<td><a target="_blank" href="@(urlPathIR + "Mockup/EditInvestigation")">IV-2019-01-22-0004</a></td>
								<td>IR</td>
								<td>Investigation</td>
								<td>Tripped on concrete pedestal</td>
								<td>Action Items Execution</td>
								<td>Inv. Team</td>
								<td>Inv. Team</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script>
	</script>
}
