﻿@model WebUI.Areas.DataMaster.Models.Vehicles.VehicleFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Vehicle);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Breadcrumb, TitleSite.Edit);
    }

    string backLink = Url.Action(ActionSite.Index);
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.MstVehicleTypeId)
            @*@Html.HiddenFor(model => model.CurrentLicensePlateHeader)*@
            @Html.HiddenFor(model => model.CurrentLicensePlateNumber)
            @Html.HiddenFor(model => model.CurrentLicensePlateTail)

            <div class="form-group">
                @Html.LabelFor(model => model.VehicleTypeName, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.VehicleTypeName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LicensePlateHeader, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.LicensePlateHeader, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LicensePlateHeader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LicensePlateNumber, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.LicensePlateNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LicensePlateNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LicensePlateTail, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.LicensePlateTail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LicensePlateTail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MstVehicleOwnershipId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.MstVehicleOwnershipId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.MstVehicleOwnershipId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerMstCompanyId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.OwnerMstCompanyId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.OwnerMstCompanyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MstVehicleBrandId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.MstVehicleBrandId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.MstVehicleBrandId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VehicleYear, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.VehicleYear, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VehicleYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var ownershipOption = $().data("kendoDropDownList"),
            companyOption = $().data("kendoDropDownList"),
            brandOption = $().data("kendoDropDownList"),
            vehicleYear = $().data("kendoNumericTextBox");

        var companyTypeId;

        $(function () {
            initElement();
        });

        function initElement() {
            initOption();
        }

        function initOption() {
            //init option ownership
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOwnhershipOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.MstCompanyTypeId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            "@Field.CompanyTypeName": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                @*sort: { field: "@Field.CityCode", dir: "@SortOrder.Ascending.ToDescription()" }*@
            });

            ownershipOption = $("#@Field.MstVehicleOwnershipId").kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Name",
                dataValueField: "@Field.Id",
                filter: "@FilterOperator.Contains.ToDescription()",
                optionLabel: "@Component.OptionLabel",
                template: "<span>#=data.Name# - (Company Type: #=data.CompanyTypeName#)</span>",
                dataBound: ownershipOnDataBound,
                change: ownershipOnChange
            }).data("kendoDropDownList");

            //init option company
                var dsFailureCause = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingOption)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (var i in filters) {
                                        var filter = filters[i];

                                        if (filter.field === "@Field.Value") {
                                            filter.field = "@Field.Id";
                                        }
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (var j in sorts) {
                                        var sort = sorts[j];

                                        if (sort.field === "@Field.Text") {
                                            sort.field = "@Field.Name";
                                        }
                                    }
                                }

                                options.optionType = "@OptionType.COMPANY";

                                options.args = [
                                    companyTypeId
                                ];
                                return options;
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "@Field.Value",
                            fields: {
                                "@Field.Text": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Value": { type: "@DataSource.Schema.Type.String" },
                            }
                        }
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    sort: { field: "@Field.Text", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            companyOption = $("#@Field.OwnerMstCompanyId").kendoDropDownList({
                dataSource: dsFailureCause,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                filter: "@FilterOperator.Contains.ToDescription()",
                optionLabel: "@Component.OptionLabel"
            }).data("kendoDropDownList");

            brandOption = dropdownListGenerator(
                $("#@Field.MstVehicleBrandId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.VEHICLE_BRAND", "@Field.Name",
                "@Component.OptionLabel", true, null
            );

            vehicleYear = $("#@Field.VehicleYear").kendoNumericTextBox({
                format: "#",
                spinners: false
            }).data("kendoNumericTextBox");
        }

        function ownershipOnDataBound(e) {
            var dataItem = ownershipOption.dataItem();
            companyTypeId = dataItem.MstCompanyTypeId;

            if (e.sender.value() === "") {
                companyOption.enable(false);
                companyOption.select(0);
            } else {
                companyOption.dataSource.read();
                companyOption.enable(true);
            }
        }

        function ownershipOnChange(e) {
            var dataItem = ownershipOption.dataItem();
            companyTypeId = dataItem.MstCompanyTypeId;

            if (e.sender.value() === "") {
                companyOption.enable(false);
                companyOption.select(0);
            } else {
                companyOption.dataSource.read();
                companyOption.enable(true);
            }
        }
    </script>    
}