﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.VehicleController)ViewContext.Controller;

    ViewBag.Title = TitleSite.Vehicle;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(thisController.GetMessage())
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 form-horizontal">
                        <label class="col-sm-3 control-label">Vehicle Type </label>
                        <div class="col-sm-6">
                            <input id="VehicleTypeOption" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right" style="margin-right: -12px; margin-bottom: 3px;">
                            <button id="btnCreate" class="btn btn-primary">Tambah @TitleSite.Company</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
    var grid = $().data("kendoGrid"),
        vehicleTypeOption = $().data("kendoDropDownList");

    $(function () {
        initElement();
    });

    function initElement() {
        vehicleTypeOption = dropdownListGenerator(
            $("#VehicleTypeOption"),
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.VEHICLE_TYPE", "@Field.Name",
            "@Component.OptionLabel", true, null
        );

        vehicleTypeOption.bind("dataBound", vehicleTypeOnDataBound);
        vehicleTypeOption.bind("change", changeFilter);

        initGrid();

        $("#btnCreate").on("click", function () {
            if (vehicleTypeOption.text() !== "@Component.OptionLabel")
                window.location.href = kendo.format("{0}?{1}={2}", "@Url.Action(ActionSite.Create)", "@QueryStringValue.VehicleType", vehicleTypeOption.value());
        });
    }

    function editItem(e) {
        e.preventDefault();
        var data = this.dataItem(getDataRowGrid(e));
        window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
    }

    function deleteItem(e) {
        e.preventDefault();
        var data = this.dataItem(getDataRowGrid(e));
        goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
    }

    function initGrid() {
        var ds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action(ActionSite.Binding)",
                    dataType: "@DataSource.DataType.Json",
                    type: "@DataSource.Type.Post"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "@DataSource.Operation.Read" && options.models) {
                        return kendo.stringify(options);
                    } else {
                        if (options.filter) {
                            var filters = options.filter.filters;
                            var removeFilter = null;

                            for (var i in filters) {
                                var filter = filters[i];

                                if (filter.field === "@Field.VehicleOwnershipName") {
                                    filter.field = "@FieldHelper.ParseRelationField(Table.MstVehicleOwnership, Field.Id)";
                                    filter.operator = "@FilterOperator.Equals.ToDescription()";
                                    filter.value = filter.value;
                                }

                                if (filter.field === "@Field.CompanyName") {
                                    filter.field = "@FieldHelper.ParseRelationField(Table.MstCompany, Field.Id)";
                                    filter.operator = "@FilterOperator.Equals.ToDescription()";
                                    filter.value = filter.value;
                                }

                                if (filter.field === "@Field.VehicleBrandName") {
                                    filter.field = "@FieldHelper.ParseRelationField(Table.MstVehicleBrand, Field.Id)";
                                    filter.operator = "@FilterOperator.Equals.ToDescription()";
                                    filter.value = filter.value;
                                }


                                if (filter.field === "@Field.MstVehicleTypeId" && (filter.value === "" || filter.value === null)) {
                                    removeFilter = filter;
                                }
                            }

                            if (removeFilter !== null) {
                                var index = options.filter.filters.indexOf(removeFilter);
                                options.filter.filters.splice(index, 1);
                            }
                        }

                        if (options.sort) {
                            var sorts = options.sort;

                            for (var j in sorts) {
                                var sort = sorts[j];

                                if (sort.field === "@Field.VehicleOwnershipName") {
                                    sort.field = "@FieldHelper.ParseRelationField(Table.MstVehicleOwnership, Field.Id)";
                                    sort.value = sort.value;
                                }

                                if (sort.field === "@Field.CompanyName") {
                                    sort.field = "@FieldHelper.ParseRelationField(Table.MstCompany, Field.Id)";
                                    sort.value = sort.value;
                                }

                                if (sort.field === "@Field.VehicleBrandName") {
                                    sort.field = "@FieldHelper.ParseRelationField(Table.MstVehicleBrand, Field.Id)";
                                    sort.value = sort.value;
                                }
                            }
                        }

                        //put data source options into session
                        if (grid !== undefined) {
                            putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                        }

                        return options;
                    }
                }
            },
            schema: {
                data: "@DataSource.Schema.Property.Data",
                total: "@DataSource.Schema.Property.Total",
                model: {
                    id: "@Field.Id",
                    fields: {
                        "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.MstVehicleTypeId": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.LicensePlateHeader": { type: "@DataSource.Schema.Type.String" },
                        "@Field.LicensePlateNumber": { type: "@DataSource.Schema.Type.String" },
                        "@Field.LicensePlateTail": { type: "@DataSource.Schema.Type.String" },
                        "@Field.VehicleTypeName": { type: "@DataSource.Schema.Type.String" },
                        "@Field.VehicleBrandName": { type: "@DataSource.Schema.Type.String" },
                        "@Field.VehicleOwnershipName": { type: "@DataSource.Schema.Type.String" },
                        "@Field.VehicleYear": { type: "@DataSource.Schema.Type.Number" },
                    }
                }
            },
            pageSize: 10,
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
            //filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
        });

        var columns = [
            {
                command: [
                    {
                        name: "edit",
                        text: "@Component.Grid.Command.Edit",
                        click: editItem,
                        imageClass: "fa  fa-lg fa-pencil-square",
                        template: GRID_COMMAND_TEMPLATE
                    },
                    {
                        name: "delete",
                        text: "@Component.Grid.Command.Delete",
                        click: deleteItem,
                        imageClass: "fa  fa-lg fa-trash",
                        template: GRID_COMMAND_TEMPLATE
                    }
                ],
                width: "120px",
                attributes: { "class": "command" }
            },
            {
                title: "Vehicle Type",
                field: "@Field.VehicleTypeName",
                width: "150px",
                sortable: false,
                filterable: false
            },
            {
                title: "Year",
                field: "@Field.VehicleYear",
                width: "80px"
            },
            {
                title: "License Plate Header",
                field: "@Field.LicensePlateHeader",
                width: "200px"
            },
            {
                title: "License Plate Number",
                field: "@Field.LicensePlateNumber",
                width: "200px"
            },
            {
                title: "License Plate Tail",
                field: "@Field.LicensePlateTail",
                width: "200px"
            },
            {
                title: "Brand",
                field: "@Field.VehicleBrandName",
                width: "150px",
                filterable: dropDownListFilterable(brandOptionFilter)
            },
            {
                title: "Ownership",
                field: "@Field.VehicleOwnershipName",
                width: "150px",
                filterable: dropDownListFilterable(ownershipOptionFilter)
            },
            {
                title: "Company",
                field: "@Field.CompanyName",
                width: "150px",
                filterable: dropDownListFilterable(companyOptionFilter)
            }
        ];

        grid = $("#grid").kendoGrid({
            autoBind: false,
            dataSource: ds,
            filterable: kendoGridFilterable,
            pageable: {
                refresh: true,
                pageSizes: true,
            },
            sortable: true,
            columns: columns
        }).data("kendoGrid");
    }

    function vehicleTypeOnDataBound(e) {
        if (stateOptions !== null) {
            //set selected value dropdownlist vehicle type options
            $.each(stateOptions.Filter.filters, function (i, item) {
                if (item.field === "@Field.MstVehicleTypeId") {
                    e.sender.value(item.value);
                }
            });

            disabledButton(this.text());

            var options = grid.getOptions();

            mapDataSourceOption(stateOptions, options.dataSource);

            grid.setOptions(options);
            grid.dataSource.read();
        } else {
            disabledButton(this.text());
            setFilter(this.value());
        }
    }

    function changeFilter(e) {
        disabledButton(this.text());
        setFilter(this.value());
    }

    function setFilter(value) {
        grid = $("#grid").data("kendoGrid");

        grid.dataSource.filter({
            "field": "@Field.MstVehicleTypeId",
            "operator": "@FilterOperator.Equals",
            "value": value
        });
    }

    function disabledButton(text) {
        if (text === "@Component.OptionLabel") {
            $("#btnCreate").attr("data-toggle", "tooltip");
            $("#btnCreate").attr("data-placement", "top");
            $("#btnCreate").attr("data-original-title", "Vehicle type harus dipilih terlebih dahulu untuk menambahkan data baru");
            $("button[id=\"btnCreate\"][data-toggle=\"tooltip\"]").tooltip("enable");
            $("button[id=\"btnCreate\"][data-toggle=\"tooltip\"]").tooltip();
        } else {
            $("#btnCreate").removeAttr("disabled");
            $("#btnCreate").removeAttr("data-toggle");
            $("#btnCreate").removeAttr("data-placement");
            $("#btnCreate").removeAttr("data-original-title");
            $("button[id=\"btnCreate\"][data-toggle=\"tooltip\"]").tooltip("disable");
        }
    }

    function ownershipOptionFilter(element) {
        var dataSource = generateOptionDataSource(
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.VEHICLE_OWNERSHIP",
            "@Field.Name",
            [null]
        );

        element.kendoDropDownList({
            dataSource: dataSource,
            dataTextField: "@Field.Text",
            dataValueField: "@Field.Value",
            filter: "@FilterOperator.Contains.ToDescription()"
        });
    }

    function brandOptionFilter(element) {
        var dataSource = generateOptionDataSource(
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.VEHICLE_BRAND",
            "@Field.Name",
            [null]
        );

        element.kendoDropDownList({
            dataSource: dataSource,
            dataTextField: "@Field.Text",
            dataValueField: "@Field.Value",
            filter: "@FilterOperator.Contains.ToDescription()"
        });
    }

    function companyOptionFilter(element) {
        var dataSource = generateOptionDataSource(
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.COMPANY",
            "@Field.Name"
        );

        element.kendoDropDownList({
            dataSource: dataSource,
            dataTextField: "@Field.Text",
            dataValueField: "@Field.Value",
            filter: "@FilterOperator.Contains.ToDescription()"
        });
    }
</script>    
}
