﻿@using WebUI.Infrastructure;
@using Common.Enums;
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.OrganizationController)ViewContext.Controller;

    ViewBag.Title = TitleSite.Organization;

    //string message = thisController.GetMessage();
    var user = User as Principal;
}


<div class="row">
    <div class="form-group">
       @* @Html.Raw(thisController.GetMessage())*@
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-md-8 form-horizontal">
                        <label class="col-sm-2 control-label">Region </label>
                        <div class="col-sm-4">
                            <input id="MstRegionId" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-md-8 form-horizontal">
                        <label class="col-sm-2 control-label">Site </label>
                        <div class="col-sm-4">
                            <input id="MstSiteId" />
                        </div>
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <div class="col-sm-12 text-right" style="padding-right: 5px;">
                            <button id="btnCreate" class="btn btn-primary">Tambah Organization</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var grid;
        var isHidden = false;

        var regionOption = $().data("kendoDropDownList"),
            siteOption = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });


        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function initElement() {
            initArea();
            initGrid();
            $("#btnCreate").on("click", function () {
                window.location.href = kendo.format("{0}", "@Url.Action(ActionSite.Create)");
            });

            $("#MstRegionId, #MstSiteId ").on("change", function () {
                area = $("#MstRegionId").val();
                cluster = $("#MstSiteId").val();
                //disabledButton(area, cluster);
            });
        }

        function initArea() {
            var optionLabel = "@Component.OptionLabel";          

             regionOption = dropdownListGenerator(
                $("#@Field.MstRegionId"), "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.REGION",
                 "@Field.Name",
                 optionLabel, true, null);

             regionOption.bind("dataBound", regionOptionsOnDataBound);
             regionOption.bind("change", changeFilter);

        }

        function initCluster() {
            siteOption = dropdownListGenerator(
                $("#@Field.MstSiteId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.SITE", "@Field.Name",
                "@Component.OptionLabel", false, [regionOption.value(), null, null, null]);

            siteOption.bind("dataBound", siteOptionsOnDataBound);
            siteOption.bind("change", changeFilterCluster);


        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.MstRegionId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.RegionName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.MstSiteId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.SiteName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Name", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                {
                    command: [
                       
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "100px",
                    attributes: { "class": "command" }
                },               
                {
                field: "@Field.SiteName",
                title: "Site",
                width: "150px",
                hidden: isHidden
                },
                {
                    field: "@Field.ParentName",
                    title: "Parent Name",
                    width: "100px"
                },
                {
                    field: "@Field.Name",
                    title: "Name",
                    width: "220px"
                }
            ];

            grid = $("#grid").kendoGrid({
                autoBind: false,
                dataSource: ds,
                dataBound: gridOnDataBound,
                filterable: kendoGridFilterable,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                sortable: true,
                columns: columns
            }).data("kendoGrid");


        }

        function disabledButton(areaValue, clusterValue) {
            if ($("#MstRegionId").val() !== "@Component.OptionLabel" && clusterValue !== "@Component.OptionLabel") {
                $("#btnCreate").removeAttr("disabled");
                isHidden = true;
            } else {
                $("#btnCreate").attr("disabled", "disabled");
                isHidden = false;
            }

        }

        function changeFilter(e) {
            initCluster();
        }

        function changeFilterCluster(e) {
            //disabledButton(this.text(), siteOption.text());
            setFilter(((regionOption.value() === "") ? 0 : regionOption.value()), this.value());
        }

        function setFilter(valueArea, valueCluster) {
            grid = $("#grid").data("kendoGrid");
            grid.dataSource.filter(
                [
                    {
                        "field": "@Field.MstRegionId",
                        "operator": "@FilterOperator.Equals",
                        "value": valueArea
                    },
                    {
                        "field": "@Field.MstSiteId",
                        "operator": "@FilterOperator.Equals",
                        "value": valueCluster
                    }
                ]
            );
            grid.dataSource.read();
        }

        function regionOptionsOnDataBound(e) {
            initCluster();
        }

        function siteOptionsOnDataBound(e) {
            //disabledButton(regionOption.text(), this.text());
            setFilter(regionOption.value(), this.value());
        }

        function gridOnDataBound(e) {
            grid.tbody.find("tr[role=\"row\"]").each(function (i) {
                var model = grid.dataItem(this);

                if (model.HasRelation) {
                    $(this).find(".k-grid-delete")
                        .removeClass("k-grid-delete")
                        .children().eq(0)
                        .addClass("k-state-disabled")
                        .attr("title", "Data tidak dapat dihapus.\nKarena sudah digunakan oleh data lainnya.");
                }
            });

            dataBoundTooltip(e);
        }


    </script>
}