﻿@model WebUI.Areas.DataMaster.Models.Vehicles.VehicleOwnershipFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Company);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Breadcrumb, TitleSite.Edit);
    }

    string backLink = Url.Action(ActionSite.Index);
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.MstCompanyTypeId)
            @Html.HiddenFor(model => model.CurrentName)

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyTypeName, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.CompanyTypeName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

